@{
    ViewBag.Title = "EDIT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model List<PDI2024.Models.Vehicle>
<main class="content-wrapper">

    @using (Html.BeginForm("importEdit", "Home", FormMethod.Post))
    {
        <table id="excelDataTable" class="display">
            <thead>
                <tr>
                    <th>Column1</th>
                    <th>Column2</th>
                    <!-- Thêm các cột khác nếu cần -->
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                <tr>
                    <td>
                        @Html.TextBoxFor(m => Model[i].VEHICLEID, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => Model[i].VEHICLEID)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => Model[i].LOCATION, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => Model[i].LOCATION)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => Model[i].REMARK, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => Model[i].Column2)*@
                    </td>
                    <!-- Add validation messages for other columns if needed -->
                </tr>
                }
            </tbody>
        </table>

        <input type="submit" value="Save" />
    }


</main>
<script>
    $(document).ready(function () {
        $('#excelDataTable').DataTable();
    });
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JavaScript -->
<script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.css">
